nav { -skrollr-animation-name: nav; }
nav a[href='#about'] { -skrollr-animation-name: nav-about; }
nav a[href='#team'] { -skrollr-animation-name: nav-team; }
nav a[href='#photos'] { -skrollr-animation-name: nav-photos; }
nav a[href='#docs'] { -skrollr-animation-name: nav-docs; }
#mini-logo { -skrollr-animation-name: mini-logo; }
header { -skrollr-animation-name: header; }
#lightbulb { -skrollr-animation-name: lightbulb; }
#main-logo { -skrollr-animation-name: main-logo; }
#tip { -skrollr-animation-name: tip; }
#scene1 { -skrollr-animation-name: scene1; }
#scene1 h1 { -skrollr-animation-name: scene1-h1; }

#scene2 { -skrollr-animation-name: scene2; }
#clock { -skrollr-animation-name: clock; }
#clock .clock-hour { -skrollr-animation-name: clock-hour; }
#clock .clock-minute { -skrollr-animation-name: clock-minute; }
#switchable-is { -skrollr-animation-name: switchable-is; }
#alarm-clock { -skrollr-animation-name: alarm-clock; }
#app { -skrollr-animation-name: app; }
#device { -skrollr-animation-name: device; }
#design { -skrollr-animation-name: design; }

#scene3 { -skrollr-animation-name: scene3; }
#scene3 .row { -skrollr-animation-name: scene3-row; }
#explanation { -skrollr-animation-name: explanation; }
#explanation p:nth-of-type(1) { -skrollr-animation-name: explanation-1; }
#explanation p:nth-of-type(2) { -skrollr-animation-name: explanation-2; }
#explanation p:nth-of-type(3) { -skrollr-animation-name: explanation-3; }
#explanation p:nth-of-type(4) { -skrollr-animation-name: explanation-4; }
#explanation p:nth-of-type(5) { -skrollr-animation-name: explanation-5; }
#svg-device { -skrollr-animation-name: svg-device; }
#svg-lightbulb { -skrollr-animation-name: svg-lightbulb; }
#svg-lightbulb .light * { -skrollr-animation-name: lightbulb-light; }
#svg-phone { -skrollr-animation-name: svg-phone; }
#signal { -skrollr-animation-name: signal; }
#signal svg { -skrollr-animation-name: signal-svg; }
#signal circle:nth-child(4) { -skrollr-animation-name: signal-1; }
#signal circle:nth-child(3) { -skrollr-animation-name: signal-2; }
#signal circle:nth-child(2) { -skrollr-animation-name: signal-3; }
#signal circle:nth-child(1) { -skrollr-animation-name: signal-4; }
#lightbulb-column { -skrollr-animation-name: lightbulb-column; }
#phone-column { -skrollr-animation-name: phone-column; }

#scene4 { -skrollr-animation-name: scene4; }
#bio-container > div { -skrollr-animation-name: bios; }
#pic-container > div { -skrollr-animation-name: pics; }


@-skrollr-keyframes nav {
    29000 {
        background-color: rgba(0, 0, 0, 0);
    }
    30000 {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@-skrollr-keyframes nav-about {
    0 { color[begin]: rgb(170, 170, 170); }
    1700 { color[begin]: rgb(101, 151, 207); }
    20000 { color[begin]: rgb(170, 170, 170); }
}

@-skrollr-keyframes nav-team {
    0 { color[begin]: rgb(170, 170, 170); }
    30000 { color[begin]: rgb(101, 151, 207); }
    49000 { color[begin]: rgb(170, 170, 170); }
}

@-skrollr-keyframes mini-logo {
    0 {
        width: 0em;
        opacity: 0;
    }
    1400 {
        width: 2.25em;
        opacity: 0;
    }
    1700 {
        width: 2.5em;
        opacity: 1;
    }
}

@-skrollr-keyframes header {
    0 {
        opacity: 1;
        padding-left: 5%;
        padding-top: 12em;
    }
    1700 {
        opacity: 0;
        padding-left: 1%;
        padding-top: 0.35em;
    }
}

@-skrollr-keyframes lightbulb {
    0 {
        transform[overshootStart]: rotate(0deg);
    }
    1700 {
        transform[overshootStart]: rotate(180deg);
    }
}

@-skrollr-keyframes main-logo {
    0 {
        font-size[overshootStart]: 4.5em;
    }
    1700 {
        font-size[overshootStart]: .4em;
    }
}

@-skrollr-keyframes tip {
    0 {
        right[overshootStart]: 5%;
        opacity: 1;
    }
    1700 {
        right[overshootStart]: 100%;
        opacity: 0;
    }
}

@-skrollr-keyframes scene1 {
    0 { opacity: 0; }
    1700 {
        opacity: 1;
        display: block;
    }
    4100 { display: none; }
}

@-skrollr-keyframes scene1-h1 {
    0 {
        left[overshootStart]: 100%;
        top: 100px;
    }
    1700 {
        left[overshootStart]: 10%;
        top: 102px;
    }
    3000 {
        top: 180px;
        transform[swing]: scale(1);
    }
    4000 {
        transform[swing]: scale(200);
    }
}

@-skrollr-keyframes scene2 {
    4000 {
        opacity: 0;
        -webkit-transform[begin]: none;
    }
    4100 { opacity: 1; }
    8600 {
        top[outCubic]: 0%;
        -webkit-transform[begin]: !translateZ(0);
    }
    9000 { top[outCubic]: -10%; }
    9200 { top: -100%; }
}

@-skrollr-keyframes clock {
    4000 { transform[outCubic]: scale(1000); }
    5000 {
        transform[outCubic]: scale(1);
        top[quadratic]: 50%;
        opacity: 1;
    }
    9000 {
        top[quadratic]: 10%;
        opacity: 0;
    }
}

@-skrollr-keyframes clock-hour {
    4000 {
        transform: rotate(0deg);
    }
    9000 {
        transform: rotate(90deg);
    }
}

@-skrollr-keyframes clock-minute {
    4000 { transform: rotate(90deg); }
    9000 { transform: rotate(1170deg); }
}

@-skrollr-keyframes switchable-is {
    4000 { top[cubic]: 60%; }
    8600 { top[cubic]: 80%; }
}

@-skrollr-keyframes alarm-clock {
    4000 { display: block; }
    5400 { display: none; }
}

@-skrollr-keyframes app {
    4000 { display: none; }
    5400 { display: block; }
    6800 { display: none; }
}

@-skrollr-keyframes device {
    4000 { display: none; }
    6800 { display: block; }
    8200 { display: none; }
}

@-skrollr-keyframes design {
    4000 { display: none; }
    8200 {
        display: block;
        color: white;
    }
    8600 {
        color: !#87b9ef;
        transform[outCubic]: scaleY(1);
    }
    9000 { transform[outCubic]: scaleY(8); }
    9200 { transform: scaleY(1); }
}

@-skrollr-keyframes scene3 {
    8999 { opacity: 0; }
    9000 { opacity: 1; }
}

@-skrollr-keyframes explanation {
    9200 { margin-top: 3em; }
    30000 { margin-top: 0em; }
}

@-skrollr-keyframes explanation-1 {
    9200 { opacity: 0; }
    12000 { opacity: 1; }
}

@-skrollr-keyframes explanation-2 {
    11500 { opacity: 0; }
    14000 { opacity: 1; }
}

@-skrollr-keyframes explanation-3 {
    15000 { opacity: 0; }
    18000 { opacity: 1; }
}

@-skrollr-keyframes explanation-4 {
    17000 { opacity: 0; }
    20000 { opacity: 1; }
}

@-skrollr-keyframes explanation-5 {
    20000 {
        opacity: 0;
        transform: translate3d(0em, 0, 0);
    }
    30000 {
        transform: translate3d(155em, 0, 0);
        opacity: 1;
    }
}

@-skrollr-keyframes svg-device {
    9200 { margin-top: 5em; }
    13000 { margin-top: -7em; }
}

@-skrollr-keyframes svg-lightbulb {
    9200 { margin-top: 10em; }
    13000 { margin-top: -6.3em; }
}

@-skrollr-keyframes svg-phone {
    8500 { margin-left: -10em; }
    10500 { margin-left: 2em; }
}

@-skrollr-keyframes signal {
    0 { display: none; }
    18500 { display: block; }
}

@-skrollr-keyframes signal-svg {
    18500 { width: 0em; margin-left: 0em; }
    23500 { width: 150em; margin-left: -75em; }
}

@-skrollr-keyframes signal-1 {
    18500 { opacity: 1; }
    21500 { opacity: 0; }
}

@-skrollr-keyframes signal-2 {
    19500 { opacity: 1; }
    22000 { opacity: 0; }
}

@-skrollr-keyframes signal-3 {
    20500 {opacity: 1; }
    23000 { opacity: 0; }
}

@-skrollr-keyframes signal-4 {
    21000 { opacity: 1; }
    23500 { opacity: 0; }
}

@-skrollr-keyframes phone-column {
    20000 { transform: translate3d(0em, 0, 0); }
    30000 { transform: translate3d(-150em, 0, 0); }
}

@-skrollr-keyframes lightbulb-column {
    20000 { transform[swing]: translate3d(0em, 0, 0); }
    30000 { transform[swing]: translate3d(-150em, 0, 0); }
}

@-skrollr-keyframes scene4 {
    29000 { transform: translate3d(0, 100%, 0); }
    30000 { transform: translate3d(0, 0%, 0); }
}

@-skrollr-keyframes pics {
    30000 { transform: translate3d(0%, 0, 0); }
    32500 { transform: translate3d(-10%, 0, 0); }
    33000 { transform: translate3d(-100%, 0, 0); }
    35500 { transform: translate3d(-110%, 0, 0); }
    36000 { transform: translate3d(-200%, 0, 0); }
    38500 { transform: translate3d(-210%, 0, 0); }
    39000 { transform: translate3d(-300%, 0, 0); }
    41500 { transform: translate3d(-310%, 0, 0); }
    42000 { transform: translate3d(-400%, 0, 0); }
    44500 { transform: translate3d(-410%, 0, 0); }
}

@-skrollr-keyframes bios {
    30000 { transform: translate3d(-300%, 0, 0); }
    32500 { transform: translate3d(-297%, 0, 0); }
    33000 { transform: translate3d(-200%, 0, 0); }
    35500 { transform: translate3d(-197%, 0, 0); }
    36000 { transform: translate3d(-100%, 0, 0); }
    38500 { transform: translate3d(-97%, 0, 0); }
    39000 { transform: translate3d(0%, 0, 0); }
    41500 { transform: translate3d(3%, 0, 0); }
}