nav { -skrollr-animation-name: nav; }
nav a[href='#about'] { -skrollr-animation-name: nav-about; }
nav a[href='#team'] { -skrollr-animation-name: nav-team; }
nav a[href='#photos'] { -skrollr-animation-name: nav-photos; }
nav a[href='#docs'] { -skrollr-animation-name: nav-docs; }
#mini-logo { -skrollr-animation-name: mini-logo; }
header { -skrollr-animation-name: header; }
#lightbulb { -skrollr-animation-name: lightbulb; }
#main-logo { -skrollr-animation-name: main-logo; }
#tip { -skrollr-animation-name: tip; }
#scene1 { -skrollr-animation-name: scene1; }
#scene1 h1 { -skrollr-animation-name: scene1-h1; }

#scene2 { -skrollr-animation-name: scene2; }
#clock { -skrollr-animation-name: clock; }
#clock .clock-hour { -skrollr-animation-name: clock-hour; }
#clock .clock-minute { -skrollr-animation-name: clock-minute; }
#switchable-is { -skrollr-animation-name: switchable-is; }
#alarm-clock { -skrollr-animation-name: alarm-clock; }
#app { -skrollr-animation-name: app; }
#device { -skrollr-animation-name: device; }
#design { -skrollr-animation-name: design; }

#scene3 { -skrollr-animation-name: scene3; }
#explanation { -skrollr-animation-name: explanation; }
#explanation p:nth-of-type(1) { -skrollr-animation-name: explanation-1; }
#explanation p:nth-of-type(2) { -skrollr-animation-name: explanation-2; }
#explanation p:nth-of-type(3) { -skrollr-animation-name: explanation-3; }
#explanation p:nth-of-type(4) { -skrollr-animation-name: explanation-4; }
#explanation p:nth-of-type(5) { -skrollr-animation-name: explanation-5; }
#svg-device { -skrollr-animation-name: svg-device; }
#svg-device .guides-front *, #svg-device .guides-back * { -skrollr-animation-name: device-guides; }
#svg-device .outlines * { -skrollr-animation-name: device-outlines; }
#svg-device .inner * { -skrollr-animation-name: device-inner; }
#svg-device .shading * { -skrollr-animation-name: device-shading; }
#device-emblem { -skrollr-animation-name: device-emblem; }
#svg-lightbulb { -skrollr-animation-name: svg-lightbulb; }
#svg-lightbulb .path-set-1 { -skrollr-animation-name: lightbulb-path-set-1; }
#svg-lightbulb .path-set-2 { -skrollr-animation-name: lightbulb-path-set-2; }
#svg-lightbulb .path-set-3 { -skrollr-animation-name: lightbulb-path-set-3; }
#lightbulb-light { -skrollr-animation-name: lightbulb-light; }
#svg-phone { -skrollr-animation-name: svg-phone; }
#svg-phone .path-set-1 { -skrollr-animation-name: phone-path-set-1; }
#svg-phone .path-set-2 path { -skrollr-animation-name: phone-path-set-2; }
#svg-phone #phone-time path { -skrollr-animation-name: phone-time; }
#signal div:nth-child(4) { -skrollr-animation-name: signal-1; }
#signal div:nth-child(3) { -skrollr-animation-name: signal-2; }
#signal div:nth-child(2) { -skrollr-animation-name: signal-3; }
#signal div:nth-child(1) { -skrollr-animation-name: signal-4; }
#lightbulb-column { -skrollr-animation-name: lightbulb-column; }
#phone-column { -skrollr-animation-name: phone-column; }

#scene4 { -skrollr-animation-name: scene4; }


@-skrollr-keyframes nav {
    20000 { background-color: rgba(255, 255, 255, 0); }
    21000 { background-color: rgba(255, 255, 255, 1); }
}

@-skrollr-keyframes nav-about {
    0 { color[begin]: rgb(170, 170, 170); }
    1700 { color[begin]: rgb(101, 151, 207); }
    20000 { color[begin]: rgb(170, 170, 170); }
}

@-skrollr-keyframes nav-team {
    0 { color[begin]: rgb(170, 170, 170); }
    21500 { color[begin]: rgb(101, 151, 207); }
    29000 { color[begin]: rgb(170, 170, 170); }
}

@-skrollr-keyframes mini-logo {
    0 {
        width: 0em;
        opacity: 0;
    }
    1400 {
        width: 2.25em;
        opacity: 0;
    }
    1700 {
        width: 2.5em;
        opacity: 1;
    }
}

@-skrollr-keyframes header {
    0 {
        opacity: 1;
        padding-left: 5%;
        padding-top: 12em;
    }
    1700 {
        opacity: 0;
        padding-left: 1%;
        padding-top: 0.35em;
    }
}

@-skrollr-keyframes lightbulb {
    0 {
        transform[overshootStart]: rotate(0deg);
    }
    1700 {
        transform[overshootStart]: rotate(180deg);
    }
}

@-skrollr-keyframes main-logo {
    0 {
        font-size[overshootStart]: 4.5em;
    }
    1700 {
        font-size[overshootStart]: .4em;
    }
}

@-skrollr-keyframes tip {
    0 {
        right[overshootStart]: 5%;
        opacity: 1;
    }
    1700 {
        right[overshootStart]: 100%;
        opacity: 0;
    }
}

@-skrollr-keyframes scene1 {
    0 { opacity: 0; }
    1700 { opacity: 1; }
}

@-skrollr-keyframes scene1-h1 {
    0 {
        left[overshootStart]: 100%;
        top: 100px;
    }
    1700 {
        left[overshootStart]: 10%;
        top: 102px;
    }
    3000 {
        top: 180px;
        transform[swing]: scale(1);
    }
    4000 {
        transform[swing]: scale(200);
    }
}

@-skrollr-keyframes scene2 {
    4000 {
        opacity: 0;
        -webkit-transform[begin]: none;
    }
    4100 { opacity: 1; }
    8000 {
        top[outCubic]: 0%;
        -webkit-transform[begin]: !translateZ(0);
    }
    9000 { top[outCubic]: -10%; }
    9200 { top: -100%; }
}

@-skrollr-keyframes clock {
    4000 { transform[outCubic]: scale(1000); }
    5000 {
        transform[outCubic]: scale(1);
        top[quadratic]: 50%;
        opacity: 1;
    }
    9000 {
        top[quadratic]: 10%;
        opacity: 0;
    }
}

@-skrollr-keyframes clock-hour {
    4000 {
        transform: rotate(0deg);
    }
    9000 {
        transform: rotate(90deg);
    }
}

@-skrollr-keyframes clock-minute {
    4000 { transform: rotate(90deg); }
    9000 { transform: rotate(1170deg); }
}

@-skrollr-keyframes switchable-is {
    4000 { top[cubic]: 60%; }
    8000 { top[cubic]: 80%; }
    
}



@-skrollr-keyframes app {
    4000 { display: block; }
    6000 { display: none; }
}

@-skrollr-keyframes device {
    4000 { display: none; }
    6000 { display: block; }
    7000 { display: none; }
}

@-skrollr-keyframes design {
    4000 { display: none; }
    7000 {
        display: block;
        color: white;
    }
    8000 {
        color: !#87b9ef;
        transform[outCubic]: scaleY(1);
    }
    9000 { transform[outCubic]: scaleY(8); }
    9200 { transform: scaleY(1); }
}

@-skrollr-keyframes scene3 {
    8999 { opacity: 0; }
    9000 { opacity: 1; }
}

@-skrollr-keyframes explanation {
    9200 { margin-top: 3em; }
    17000 { margin-top: 0; }
}

@-skrollr-keyframes explanation-1 {
    9200 { opacity: 0; }
    12000 { opacity: 1; }
}

@-skrollr-keyframes explanation-2 {
    11500 { opacity: 0; }
    14000 { opacity: 1; }
}

@-skrollr-keyframes explanation-3 {
    13000 { opacity: 0; }
    15000 { opacity: 1; }
}

@-skrollr-keyframes explanation-4 {
    14000 { opacity: 0; }
    16500 { opacity: 1; }
}

@-skrollr-keyframes explanation-5 {
    15500 {
        opacity: 0;
        margin-left[outCubic]: 0%;
    }
    21500 {
        margin-left[outCubic]: 33%;
        opacity: 1;
    }
}

@-skrollr-keyframes svg-device {
    9200 { margin-top: 5em; }
    13000 { margin-top: -7em; }
}

@-skrollr-keyframes svg-lightbulb {
    9200 { margin-top: 10em; }
    13000 { margin-top: -6.3em; }
}

@-skrollr-keyframes svg-phone {
    8500 { margin-left: -10em; }
    10500 { margin-left: 2em; }
}

@-skrollr-keyframes signal-1 {
    14500 {
        width: 0em;
        height: 0em;
        margin-top: 0em;
        margin-left: 0em;
        opacity: 1;
    }
    18500 {
        width: 200em;
        height: 200em;
        margin-top: -100em;
        margin-left: -100em;
        opacity: 0;
    }
}

@-skrollr-keyframes signal-2 {
    15000 {
        width: 0em;
        height: 0em;
        margin-top: 0em;
        margin-left: 0em;
        opacity: 1;
    }
    19000 {
        width: 200em;
        height: 200em;
        margin-top: -100em;
        margin-left: -100em;
        opacity: 0;
    }
}

@-skrollr-keyframes signal-3 {
    15500 {
        width: 0em;
        height: 0em;
        margin-top: 0em;
        margin-left: 0em;
        opacity: 1;
    }
    19500 {
        width: 200em;
        height: 200em;
        margin-top: -100em;
        margin-left: -100em;
        opacity: 0;
    }
}

@-skrollr-keyframes signal-4 {
    16000 {
        width: 0em;
        height: 0em;
        margin-top: 0em;
        margin-left: 0em;
        opacity: 1;
    }
    20000 {
        width: 200em;
        height: 200em;
        margin-top: -100em;
        margin-left: -100em;
        opacity: 0;
    }
}

@-skrollr-keyframes phone-column {
    16000 { margin-left: 0em; }
    21500 { margin-left: -50em; }
}

@-skrollr-keyframes lightbulb-column {
    16000 { margin-right[cubic]: 0em; }
    21500 { margin-right[cubic]: -40em; }
}

@-skrollr-keyframes scene4 {
    21499 { display: none; }
    21500 { display: block; }
}